In [16]:
import pandas as pd
from sqlalchemy import create_engine

In [17]:
engine = create_engine('postgresql://root:root@localhost:5434/ny_taxi')

In [18]:
df = pd.read_csv('green_tripdata_2019-10.csv')

In [19]:
df.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [ ]:
df.tpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [20]:
df.head(0).to_sql(name='green_taxi_data',con=engine,if_exists='replace')

0

In [22]:
df_iter = pd.read_csv('green_tripdata_2019-10.csv' , iterator=True , chunksize=100000)

In [23]:
while True:
    df= next(df_iter)
    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    df.to_sql(name='green_taxi_data',con=engine,if_exists='append')
    print('successful iteration')

successful iteration

StopIteration: